
<div class="container">
<table border="2">
  <caption>{{differencequestion}}</caption>
  <thead>
    <tr>
      <ng-container *ngFor="let item of diffHeaders|keyvalue">
        <td *ngIf="item.key !=='id'">
          {{item.value}}
        </td>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of diffData">
      <ng-container *ngFor="let item of diffHeaders|keyvalue">
        <ng-container *ngFor="let td of row|keyvalue">
          <td *ngIf="item.value===td.key">
            <span>{{td.value}}</span>
          </td>
        </ng-container>
      </ng-container>
    </tr>
  </tbody>
</table>
</div>